body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slider {
  background: #ccc;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  &__contents {
    // temps to RM (height from img)
    height: 300px;
    font-size: 20px;
    transition: all 1s ease-in;
    display: flex;
  }
}

.btn {
  position: absolute;
  z-index: 10;
  width: 20px;
  height: 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  float: left;
  transform: translateY(-50%);
  border-radius: 50%;
  color: #ccc;
  cursor: pointer;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0.5em;
  user-select: none;
  margin-top: -20px;
  &:hover {
    background: rgba(255, 255, 255, 0.9);
  }
  &--right {
    right: 0;
  }
}
