body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d-flex {
  display: flex;
}

.slider {
  min-height: 280px;
  background: #ccc;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  // &__contents { }
  .contents {
    &__item {
      user-select: none;
      // border: 4px solid rgba($color: #33ff00, $alpha: .3);
      img {
        width: 100%;
      }
    }
  }
  &__btn {
    display: flex;
    position: absolute;
    top: 0;
    height: 100%;
    padding: 0 16px;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    transition: transform ease-in 0.1s;
    &:hover {
      transform: scale(1.1);
    }
    >img {
      $size: 16px;
      padding: $size;
      height: $size;
      width: $size;
      background: white;
      border-radius: 50%;

    }
  }
  .btn {
    &--right {
      right: 0;
    }
    &--left {
      left: 0;
    }
  }

}
